<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAREAS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <div class="center-align white" style="margin-top:10px; padding-left:10px;padding-right:10px;"><a href="{% url 'tareas' %}"><img src={% static 'img/LogoMakr_1iZ7EA.png' %} class="responsive-img"></a></div>
</header>
{% block body %}    

{% endblock body %}    
</body>
</html>