{% extends "base_main_app.html" %}

{% block body %}


<div class="container">
    {% comment %} <div class="row">
        <h2 class="center-align red-text">Tareas pendientes</h2>
    </div> {% endcomment %}
    <div class="row">
        {% for tarea in tareas %}
        <div class="col s6 m4 l3">
        <!-- CARD-->
            <div class="card small">
                <div class="card-image">
                    <img src="{{tarea.img}}" alt=""/>
                </div>
                <div class="card-content">
                    <p><a class="purple-text" href="{{tarea.id}}">{{tarea.nombre}}</a></p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}