{% extends "base_main_app.html" %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col center-align">
                <h1 id="tit">Tareas</h1>
                <table class="bordered">
                    <thead>
                        <tr>
                            <th data-field="nom">Nombre</th>
                            <th data-field="des">Descripcion</th>
                            <th data-field="est">Estado</th>
                            <th data-filed="img">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarea in tareas %}
                        <tr>
                            <td>{{tarea.nombre}}</td>
                            <td>{{tarea.descripcion}}</td>
                            <td>{{tarea.estado}}</td>
                            <td>
                                
                                <img src="{{tarea.img}}" class="circle" width="100px" height="100px">
                                
                            </td>
                        </tr>
                           {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}